// Variables (Black-and-White / Grayscale theme)
$primary-color: #737373; // main neutral
$secondary-color: #A3A3AA;
$danger-color: #737373;
$success-color: #737373;
$warning-color: #737373;

$text-primary: #0F0F10; // very dark text
$text-secondary: #3F3F46; // dark gray
$text-light: #9CA3AF; // light gray

$bg-body: #FFFFFF;
$bg-card: #FFFFFF;
$border-color: #E5E7EB;

$border-radius: 0.5rem;
$transition: all 0.3s ease;
